@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';

.code-container {
  height: 550px;

  .code-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    padding: 0 10px;
  
    .ant-btn {
      margin-left: 20px;
    }
  }

  .react-codemirror2 {
    min-height: 500px;
  }

  .header-code {
    height: auto;
    min-height: 0px;

    .CodeMirror {
      height: auto;
    }
  }
}
