@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';

.code-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  padding: 0 10px;

  .ant-btn {
    margin-left: 20px;
  }
}